<!DOCTYPE html>
<html ng-app="Edivator">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edivator</title>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="Edivator.css">
</head>

<body>
<div class="container-fluid" style="height:100%;" ng-controller="PictureCtrl">
    <form ng-app="upload" ng-submit="uploadFile()" class="form-horizontal" enctype="multipart/form-data">
        <input type="file" name="file" ng-model="document.fileInput" id="file" onchange="angular.element(this).scope().setTitle(this)" />
        <input type="text" class="col-sm-4" ng-model="document.title" id="title" />
        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </form>


    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Home
                </button>
                <button class="btn btn-default" type="button">
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    Help
                </button>
                <button class="btn btn-default" type="button">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    Impressum
                </button>
            </div>
        </div>
    </div>
    <div class="row Navigation">
        <div class="col-sm-2">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-default" style="width:100%;" type="button" ng-click="picture.UploadDialog();">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            Upload Picture
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-default" style="width:100%;" type="button" ng-click="picture.ExportDialog();">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            Export Picture
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        Breite = {{picture.getPictureObject().width}}%<br>
                        Höhe = {{picture.getPictureObject().height}}%<br>
                        Rotation = {{picture.getPictureObject().rotation}}°<br>
                        Horizontal gespiegelt = {{picture.getPictureObject().flippedHorizontal}}<br>
                        Vertikal gespiegelt = {{picture.getPictureObject().flippedVertical}}<br>
                        Prozent abschneiden Links = {{picture.getPictureObject().offsetLeft}}%<br>
                        Prozent abschnieden Rechts = {{picture.getPictureObject().offsetRight}}%<br>
                        Prozent abschneiden Oben = {{picture.getPictureObject().offsetTop}}%<br>
                        Prozent abschneiden unten = {{picture.getPictureObject().offsetBottom}}%<br>
                        Feeling Lucky Filter = {{picture.getPictureObject().feelingLucky}}<br>
                        Zielformat = .{{picture.getPictureObject().format}}<br>
                        Ziel = {{picture.getPictureObject().target}}
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-10" style="height:100%; background-color:grey;">

            <div class="container-fluid">
                <div class="row" style="background-color:white;">
                    <div class="col-sm-12">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-default" type="button" ng-click="picture.back();">
                                <i class="fa fa-reply" aria-hidden="true"></i>
                                Back
                            </button>
                            <button class="btn btn-default" type="button" ng-click="picture.forward();">
                                <i class="fa fa-share" aria-hidden="true"></i>
                                Forwart
                            </button>
                            <button class="btn btn-default" type="button" ng-click="picture.resetPic();">
                                <i class="fa fa-eraser" aria-hidden="true"></i>
                                Reset
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" style="background-color:white;">
                    <div class="col-sm-3">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-default" style="width:50%;" type="button" ng-click="picture.bigger();">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Vergrößern
                            </button>
                            <button class="btn btn-default" style="width:50%;" type="button" ng-click="picture.smaler();">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                Verkleinern
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-default" style="width:50%;" type="button" ng-click="picture.rotateLeft();">
                                <i class="fa fa-undo" aria-hidden="true"></i>
                                90° left
                            </button>
                            <button class="btn btn-default" style="width:50%;" type="button" ng-click="picture.rotateRight();">
                                <i class="fa fa-repeat" aria-hidden="true"></i>
                                90° right
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <button class="btn btn-default" style="width:100%;" type="button" ng-click="picture.flipHorizontal();">
                                <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                Flip hirozontal
                            </button>
                            <button class="btn btn-default" style="width:100%;" type="button" ng-click="picture.flipVertical();">
                                <i class="fa fa-arrows-h" aria-hidden="true"></i>
                                Flip vertical
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <button class="btn btn-default" style="width:100%;" type="button" ng-click="picture.cropHeight();">
                                <i class="fa fa-crop" aria-hidden="true"></i>
                                Crop height
                            </button>
                            <button class="btn btn-default" style="width:100%;" type="button" ng-click="picture.cropWidth();">
                                <i class="fa fa-crop" aria-hidden="true"></i>
                                Crop width
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default" style="width:100%;" type="button" ng-click="picture.feelingLucky();">
                            <i class="fa fa-magic" aria-hidden="true"></i>
                            I'm feeling lucky
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="PictureArea"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
<script src="js/Edivator.js"></script>
<script src="js/EdivatorAngular.js"></script>
</body>
</html>