<html ng-app="Edivator">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edivator</title>

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/Edivator.css">

</head>

<body style="background-color:#f7f7f9;">
<div id="imgIdDiv" value="100" visible="false"></div>
<div class="container-fluid" ng-controller="PictureCtrl as pctrl">
    <div class="row">	<!-- Kopfzeile -->
        <div class = "col-sm-2" style="background-color: white">
            <div class="card" style="border-bottom-width: 0cm;border-left-width: 0cm; border-right-width: 0cm">
                <img class="card-img-top" src="img/EdivatorLogo.png" alt="Card image cap">
                <div class="card-block">
                    <button id="btn_import" class="btn btn-primary btn-sm" type="button" ng-click="pctrl.OpenUploadDialog();">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        Import
                    </button>
                    <button id="btn_export" class="btn btn-primary btn-sm" type="button" ng-click="picture.ExportDialog();">
                        <i class="fa fa-download " aria-hidden="true"></i>
                        Export
                    </button>
                </div>
            </div>
        </div>
        <div class = "col-sm-10">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="img/svg/size.svg" alt="Card image cap">
                    <div class="card-block">
                        <form>
                            <div class="input-group width">
                                    <input type="number" class="form-control" placeholder="width" ng-model="inputSizeWidth">
                                    <input type="number" class="form-control" placeholder="height" ng-model="inputSizeHeight">
                            </div>
                            <div class="input-group">
                                <button id="btn_sizeApply" class="btn btn-outline-primary btn-sm" type="button" ng-click="changeSize()">
                                    apply
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--<div class="card-footer">-->
                    <!--<small class="text-muted">Width: {{imageWidth}}px, Height: {{imageHeight}}px</small>-->
                    <!--</div>-->
                </div>
                <div class="card">
                    <img class="card-img-top" src="img/svg/rotation.svg" alt="Card image cap">
                    <div class="card-block">

                        <button id="btn_rotateLeft" class="btn btn-outline-primary btn-sm" type="button" ng-click="rotateLeft()">
                            <i class="fa fa-undo" aria-hidden="true"></i>
                            90°
                        </button>
                        <button id="btn_rotateRight" class="btn btn-outline-primary btn-sm" type="button" ng-click="rotateRight()">
                            <i class="fa fa-repeat" aria-hidden="true"></i>
                            90°
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="img/svg/flip.svg" alt="Card image cap" style="width:100%;">
                    <div class="card-block">

                        <button id="btn_flipHorizontal" class="btn btn-outline-primary btn-sm" type="button" ng-click="flipVertical()">
                            <i class="fa fa-arrows-v" aria-hidden="true"></i>
                        </button>
                        <button id="btn_flipVertical" class="btn btn-outline-primary btn-sm" type="button" ng-click="flipHorizontal()">
                            <i class="fa fa-arrows-h" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="img/svg/crop.svg" alt="Card image cap">
                    <div class="card-block">

                        <button id="btn_cropWidth" class="btn btn-outline-primary btn-sm" type="button" ng-click="cropWidth();">
                            <i class="fa fa-compress " aria-hidden="true" style="transform: rotate(45deg);"></i>
                            10%
                        </button>
                        <button id="btn_cropHeight" class="btn btn-outline-primary btn-sm" type="button" ng-click="cropHeight();">
                            <i class="fa fa-compress " aria-hidden="true" style="transform: rotate(-45deg);"></i>
                            10%
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="img/svg/filter.svg" alt="Card image cap">
                    <div class="card-block">

                        <button id="btn_filterLucky" class="btn btn-outline-primary btn-sm" type="button" ng-click="feelingLucky();">
                            <i class="fa fa-magic" aria-hidden="true"></i>
                            use
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">	<!-- Mittelteil -->
        <div class="col-sm-2">
            <panel>
                <p>
                    <strong>Image information</strong>
                </p>
                <p>Width: {{imageWidth}}px</p>
                <p>Height: {{imageHeight}}px</p>
            </panel>

        </div>
        <div class="col-sm-10" style="background-color:#d2d2d2;">    <!-- Bild -->
            <div id="PictureArea">
                <img id="CurrentImage">
            </div>
        </div>
    </div>
</div>
<footer>    <!-- Fußzeile -->
    <i class="fa fa-copyright" aria-hidden="true"></i>Edivator 2017
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
<script src="js/edivator.js"></script>
<script src="js/backendCommunication.js"></script>

</body>
</html>