<html ng-app="Edivator">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edivator</title>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="Edivator.css">

</head>

<body style="background-color:#f7f7f9;">
<div class="container-fluid" ng-controller="PictureCtrl as pctrl">
    <div class="row">	<!-- Kopfzeile -->
        <div class = "col-sm-2" style="background-color: white">
            <div class="card" style="border-bottom-width: 0cm;border-left-width: 0cm; border-right-width: 0cm">
                <img class="card-img-top" src="EdivatorLogo.png" style="width:100%" alt="Card image cap">
            </div>
        </div>
        <div class = "col-sm-10">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="svg/size.svg" alt="Card image cap" style="width:100%;">
                    <div class="card-block">
                        <h4 class="card-title">Size</h4>
                        <button id="btn_sizePlus" class="btn btn-outline-primary btn-sm" type="button" ng-click="bigger();">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            10%
                        </button>
                        <button id="btn_sizeMinus" class="btn btn-outline-primary btn-sm" type="button" ng-click="smaler();">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                            10%
                        </button>
                        <br>
                        <form>
                            <div class="input-group">
                                <input id="width" type="text" class="form-control" name="width" placeholder="width in px">
                            </div>
                            <div class="input-group">
                                <input id="height" type="text" class="form-control" name="height" placeholder="height in px">
                            </div>
                        </form>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">width {{picture.getPictureObject().width}}%, height {{picture.getPictureObject().height}}%</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="svg/rotation.svg" alt="Card image cap" style="width:100%;">
                    <div class="card-block">
                        <h4 class="card-title">Rotation</h4>
                        <button id="btn_rotateLeft" class="btn btn-outline-primary btn-sm" type="button" ng-click="rotateLeft()">
                            <i class="fa fa-undo" aria-hidden="true"></i>
                            90°
                        </button>
                        <button id="btn_rotateRight" class="btn btn-outline-primary btn-sm" type="button" ng-click="rotateRight();">
                            <i class="fa fa-repeat" aria-hidden="true"></i>
                            90°
                        </button>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Rotation {{picture.getPictureObject().rotation}}°</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="svg/flip.svg" alt="Card image cap" style="width:100%;">
                    <div class="card-block">
                        <h4 class="card-title">Flip</h4>
                        <button id="btn_flipHorizontal" class="btn btn-outline-primary btn-sm" type="button" ng-click="flipHorizontal();">
                            <i class="fa fa-arrows-v" aria-hidden="true"></i>
                        </button>
                        <button id="btn_flipVertical" class="btn btn-outline-primary btn-sm" type="button" ng-click="flipVertical();">
                            <i class="fa fa-arrows-h" aria-hidden="true"></i>
                        </button>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">horiz. {{picture.getPictureObject().flippedHorizontal}}, vert. {{picture.getPictureObject().flippedVertical}}</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="svg/crop.svg" alt="Card image cap" style="width:100%;">
                    <div class="card-block">
                        <h4 class="card-title">Crop</h4>
                        <button id="btn_cropWidth" class="btn btn-outline-primary btn-sm" type="button" ng-click="cropHeight();">
                            <i class="fa fa-compress " aria-hidden="true" style="transform: rotate(45deg);"></i>
                            10%
                        </button>
                        <button id="btn_cropHeight" class="btn btn-outline-primary btn-sm" type="button" ng-click="cropWidth();">
                            <i class="fa fa-compress " aria-hidden="true" style="transform: rotate(-45deg);"></i>
                            10%
                        </button>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">l,r -{{picture.getPictureObject().offsetLeft}}% t,b -{{picture.getPictureObject().offsetTop}}%</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="svg/filter.svg" alt="Card image cap" style="width:100%;">
                    <div class="card-block">
                        <h4 class="card-title">Filter</h4>
                        <button id="btn_filterLucky" class="btn btn-outline-primary btn-sm" style="width:100%;" type="button" ng-click="feelingLucky();">
                            <i class="fa fa-magic" aria-hidden="true"></i>
                            I'm feeling lucky
                        </button>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Feeling Lucky = {{picture.getPictureObject().feelingLucky}}</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="svg/transparency.svg" alt="Card image cap" style="width:100%;">
                    <div class="card-block">
                        <h4 class="card-title">Transparency</h4>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Information</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">	<!-- Mittelteil -->
        <div class = "col-sm-2" style="background-color:white;">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Undo or Repeat Changes</h4>
                    <p class="card-text"></p>
                    <button id="btn_undo" class="btn btn-primary" type="button" ng-click="picture.back();">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                    </button>
                    <button id="btn_repeat" class="btn btn-primary" type="button" ng-click="picture.forward();">
                        <i class="fa fa-share" aria-hidden="true"></i>
                    </button>
                    <button id="btn_reset" class="btn btn-primary" type="button" ng-click="picture.resetPic();">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                        Reset
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Import or Export Image</h4>
                    <p class="card-text"></p>
                    <button id="btn_import" class="btn btn-primary" type="button" ng-click="pctrl.OpenUploadDialog();">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        Import
                    </button>
                    <button id="btn_export" class="btn btn-primary" type="button" ng-click="picture.ExportDialog();">
                        <i class="fa fa-download " aria-hidden="true"></i>
                        Export
                    </button>
                </div>
            </div>
        </div>
        <div class = "col-sm-10" style="background-color:#d2d2d2;">	<!-- Bild -->
            <div id="PictureArea"></div>
        </div>
    </div>
    <div class="row" >	<!-- Fußzeile -->
        <div class = "col-sm-12" style="text-align: right">
            <i class="fa fa-copyright" aria-hidden="true"></i>Edivator 2017
            <br>
            <br>Hochschule Bremen
            <br>University of Applied Scienes
            <br>Masterproject: Cloud-Computing
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
<script src="js/Edivator.js"></script>
<script src="js/EdivatorAngular.js"></script>

</body>
</html>