<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-app="upload" ng-controller="FileUploadController">
    <form ng-submit="uploadFile()" class="form-horizontal" enctype="multipart/form-data">
        <input type="file" name="file" ng-model="document.fileInput" id="file" />
        <input type="text" class="col-sm-4" ng-model="document.title" id="title" />
        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
<script src="js/controller/UploadController.js"></script>
</body>
</html>